<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
<!--favicon-->
<link type="image/x-icon" rel="shortcut icon" th:href="@{/images/favicon.ico}" />
<!-- css -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<!-- Cookies -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<!-- axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Context path -->
<script th:inline="javascript">
    /*<![CDATA[*/
    const contextPath =  /*[[${contextPath}]]*/ '';
    /*]]>*/
</script>
